<div class="bookcontent">
    <div class="title">
        <h2>{{ book.title }}</h2>
    </div>
    <div class="Author">
        <h2>{{ book.author }}</h2>
    </div>
    <div class="category">
        <h2>{{ book.category }}</h2>
    </div>
    <div class="date">
        <h2>{{ book.date }}</h2>
    </div>
    <div class="image">
        <img src="{{book.url }}" alt=" It contains image of book">
    </div>
    <div class=" buttons">
        <button mat-raised-button color="primary" (click)="onEdit(book.id)">
            <mat-icon> edit </mat-icon>
            Edit
        </button>
        <button mat-raised-button color="warn" (click)="onDelete(book.id)">
            <mat-icon> delete</mat-icon>
            Delete
        </button>
    </div>

</div>